@charset "UTF-&";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid dodgerblue;
  height: 600px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
}

.tittle {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  background-color: #8EB6E4;
  border-bottom: 1px solid dodgerblue;
}


label {
  font-weight: bold;
  color: black;
}

input {
  height: 50px;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  outline: none;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.input {
  width: 50%;
  align-items: center;
  margin: 20px 120px;
}

button {
  display: block;
  position: relative;
  margin: 100px auto;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  top: -10%;
  background-color: dodgerblue;
  color: white;
}

.result {
  background-color: #8EB6E4;
  position: relative;
  width: 80%;
  height: 150px;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid dodgerblue;
  top: -23%;
  color: white;
}

p{
 padding: 30px;
}